<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

<h1>welcome to
<svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg>…</svg>
<strong>Bookers!!</strong></h1>
<p>In
<svg class="svg-inline--fa fa-book fa-w-14" aaria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http//www.w3.org/2000/svg" viewBox "0 0 448 512" data-fa-i2svg></svg>
<strong>Bookers</strong></p>
<p>you can shore and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <a class="btn btn-info btn-block mb-3 gn_in" href="/users/sign_in">Log in</a>
  </div>
  <div class="row">
    <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
  </div>
</div>
</div>
</div>
</div>
